table {
  border-collapse: collapse;
  width: 80%;
  margin-top: 10px;
}

th,
td {
  border: 1px solid rgb(66, 57, 57);
  padding: 15px;
  text-align: center;
}

h2 {
  margin-bottom: 5px;
}

p,
span {
  font-size: 20px;
  font-weight: bold;
  color: #3498db;
  margin-bottom: 10px;
}

.morning-number,
.evening-number {
  font-size: 25px;
  color: #b51e1e;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}
